body {
    background-color: hsl(210, 46%, 95%);
    max-height: 100%;
    overflow: hidden;
}

#container {
    display: flex;
    margin: 35vh 27.5vw;
    width: 45vw;
    background-color: white;
    background-image: url('./images/drawers.jpg');
    background-size: 20vw;
    background-repeat: no-repeat;
    line-height: 23px;
}

#content {
    align-items: center;
    padding: 10px;
    margin-left: 23vw;
    width: 20vw;
}

#main-content {
    font-size: 13px;
    margin-bottom: 20px;
}

#bottom {
    display: flex;
    font-size: 13px;
    width: 20vw;
}

#bottom-img {
    width: 3vw;
    border-radius: 50%;
    margin-right: 20px;
}

#share {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: hsl(210, 46%, 95%);
    margin: auto;
}

#share-img {
    width: 20px;
    margin: 10px;
}


#share-click {
    display: none;
    /* display: flex; */
    position: relative;
    bottom: 150px;
    right: 135px;
    background-color: hsl(217, 19%, 35%);
    width: 15vw;
    height: 5vh;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 10px;
    padding: 10px;
}

#share-click::after {
    border-top:10px solid hsl(217, 19%, 35%); 
 border-left: 10px solid transparent; 
 border-right: 10px solid transparent; 
 border-bottom: 0px solid transparent; 
 content:""; 
 position:absolute;
 top: 70px;
 left:140px; 
}

#share-text {
    display: inline;
    margin: auto;
}

#social {
    width: 10vw;
}

#social>img {
    margin: 5px 10px 0 10px;
    width: 2vw;
    height: auto;
}

button {
    border: 0;
    border-radius: 50%;
    outline: 0;
}

.attribution {
    display: none;
}

@media (max-width: 1000px) {
    #container {
        display: block;
        width: 80vw;
        height: 74vh;
        margin: 13vh 10vw;
        background-image: url('./images/drawers.jpg');
        background-size: 80vw 40vh;
        background-repeat: no-repeat;
    }
    #content {
        position: relative;
        display: block;
        width: 70vw;
        padding: 0;
        margin: 20px;
        top:45vh;
    }
    #main-content {
        width: 70vw;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    #bottom {
        width: 70vw;
        margin-top: 0;
        margin-left: 20px;
    }
    #bottom-img {
        width: 10vw;
        border-radius: 50%;
        margin-right: 20px;
    }
    #share-click {
        display: none;
        position: relative;
        bottom: 100px;
        right: 49vw;
        background-color: hsl(217, 19%, 35%);
        width: 77vw;
        height: 10vh;
        font-size: 20px;
        text-align: center;
        color: white;
        font-weight: 100;
        z-index: 1;
    }
    #share-click::after {
        display: none;
    }
    #share-button {
        position: relative;
        z-index: 2;
    }
    #social {
        display: flex;
        position: relative;
        right: 100px;
    }
    #social > img {
        width: 20px;
    }
    #share-text {
        position: relative;
        right: 100px;
    }
}

@media (max-width: 500px) {
    #container {
        display: block;
        width: 80vw;
        height: 74vh;
        margin: 13vh 10vw;
        background-image: url('./images/drawers.jpg');
        background-size: 80vw 40vh;
        background-repeat: no-repeat;
    }
    #content {
        position: relative;
        display: block;
        width: 70vw;
        padding: 0;
        margin: 20px;
        top:45vh;
    }
    #main-content {
        width: 70vw;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    #bottom {
        width: 70vw;
        margin-top: 0;
        margin-left: 20px;
    }
    #bottom-img {
        width: 10vw;
        border-radius: 50%;
        margin-right: 20px;
    }
    #share-click {
        display: none;
        position: relative;
        bottom: 67px;
        right:289px;
        background-color: hsl(217, 19%, 35%);
        width: 76vw;
        height: 5vh;
        font-size: 20px;
        text-align: center;
        color: white;
        font-weight: 100;
        z-index: 1;
    }
    #share-click::after {
        display: none;
    }
    #share-button {
        position: relative;
        z-index: 2;
    }
    #social {
        display: flex;
        position: relative;
        right: 200px;
    }
    #social > img {
        width: 20px;
    }
    #share-text {
        position: relative;
        right: 100px;
    }
}
