body {
    background-color: hsl(210, 46%, 95%);
    max-height: 100%;
    overflow: hidden;
}

#container {
    display: flex;
    margin: 35vh 27.5vw;
    width: 45vw;
    height: 30vh;
    background-color: white;
    background-image: url('./images/drawers.jpg');
    background-size: 20vw 30vh;
    background-repeat: no-repeat;
    line-height: 23px;
}

#content {
    align-items: center;
    padding: 10px;
    margin-left: 23vw;
    width: 20vw;
}

#main-content {
    font-size: 13px;
}

#bottom {
    display: flex;
    font-size: 13px;
    width: 20vw;
}

#bottom-img {
    width: 3vw;
    border-radius: 50%;
    margin-right: 20px;
}

#share {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: hsl(210, 46%, 95%);
    margin: auto;
}

#share-img {
    width: 20px;
    margin: 10px;
}


#share-click {
    display: none;
    /* display: flex; */
    position: relative;
    bottom: 150px;
    right: 135px;
    background-color: hsl(217, 19%, 35%);
    width: 15vw;
    height: 5vh;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 100;
    margin: 10px;
    padding: 10px;
}

#share-click::after {
    border-top:10px solid hsl(217, 19%, 35%); 
 border-left: 10px solid transparent; 
 border-right: 10px solid transparent; 
 border-bottom: 0px solid transparent; 
 content:""; 
 position:absolute;
 top: 70px;
 left:140px; 
}

#share-text {
    display: inline;
    margin: auto;
}

#social {
    width: 10vw;
}

#social>img {
    margin: 5px 10px 0 10px;
    width: 2vw;
    height: auto;
}

button {
    border: 0;
    border-radius: 50%;
    outline: 0;
}

.attribution {
    display: none;
}
